.container {
    text-align: center;
    padding: 20px;
  }
  
  #drawCanvas {
    border: 2px solid #ffffff;
    background-color: #D3D3D3; /* Cooler tone that contrasts with black */
    margin: 20px;
  }
  
  .button-container {
    margin-top: 10px;
  }
  
  #penSizeSlider {
    display: inline-block;
    margin: 10px auto;
  }
  
  button, textarea, #asciiArt {
    background-color: #4a4a4a;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
  }

  body {
    background-color: #1a1a1a; /* Even darker background */
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }